.footer-colorido {
    background: linear-gradient(135deg, #FF6600, #FF8C42); 
    color: rgb(29, 26, 233); 
}
.footer-colorido a {
    color: #000000; 
    transition: color 0.3s ease;
}
.btn-f:hover {
  background-color: hsl(246, 99%, 48%); 
  background: linear-gradient(135deg, #0051ff, #2400a8);
  border-color: #000000;
}
.btn-ig:hover {
  background-color: hsl(303, 99%, 48%); 
  background: linear-gradient(135deg, #ff00c8, #b40096);
  border-color: #000000;
}


