.evento-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.2s;
}

.evento-container:hover {
    transform: scale(1.03);
}

.evento-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.nombre-artista {
    font-weight: bold;
    margin-top: 10px;
}

.fecha-lugar p {
    margin: 0;
}

.btn-comprar {
    margin-top: 10px;
}

.btn-ver-mas {
  background-color: #f0f0f0; 
  border: 1px solid #ccc;     
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-ver-mas:hover {
  background-color: #e0e0e0; 
  border-color: #999;
}

.user-img {
  width: 40px;
  height: 40px;       
  object-fit: cover;  
  border-radius: 50%; 
}

.acciones-evento {
  display: flex;
  flex-direction: column;  
  gap: 8px;                
  align-items: stretch;   
}
