<div class="container mt-4" style="max-width: 420px;">

  <div class="card p-4 shadow">
    <h4 class="mb-3">Cambiar contraseña</h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      
      <div class="mb-3">
        <label class="form-label">Contraseña actual</label>
        <input type="password" class="form-control" formControlName="actual">
      </div>

      
      <div class="mb-3">
        <label class="form-label">Nueva contraseña</label>
        <input type="password" class="form-control" formControlName="nueva">
      </div>

      
      <div class="mb-3">
        <label class="form-label">Repetir nueva contraseña</label>
        <input type="password" class="form-control" formControlName="repetir">
      </div>

      
      <p *ngIf="errorMessage" class="text-danger mt-2">
        {{ errorMessage }}
      </p>

      
      <p *ngIf="successMessage" class="text-success mt-2">
        {{ successMessage }}
      </p>

      <button class="btn btn-primary w-100" [disabled]="loading">
        <span *ngIf="!loading">Actualizar contraseña</span>
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
      </button>

    </form>
  </div>
</div>


