
.navbar-custom {
    background-color: #FF6600;    
    transition: background-color 0.3s ease; 
}

.navbar-custom:hover {
    background-color: hsl(32, 99%, 48%); 
}


.custom-dropdown {
  background-color: #1e1e1e; 
  border: none;
  min-width: 160px;
}


.custom-item {
  color: rgba(255, 123, 0, 0.7); 
  font-weight: 600;
  transition: color 0.3s ease, transform 0.2s ease;
  background-color: transparent;
  border: none;
}


.custom-item:hover {
  color: rgba(255, 123, 0, 1); 
  transform: translateX(4px); 
}


.custom-item {
  cursor: pointer;
}

