<nav class="navbar navbar-custom px-3">
  
  <a class="navbar-brand d-flex align-items-center" href="#">
    <img src="assets/img/logo.png" alt="logo" width="80" height="80">
  </a>

  
  <div class="d-flex mt-3; align-items-center">
    
     <app-event-search></app-event-search>
    
    
    <li class="nav-item me-3" style="margin-left: 40px; list-style: none;">
      <a class="nav-link text-light" href="/ayuda">
        <i class="bi bi-question-circle fs-3"></i>
      </a>
    </li>
  </div>

  
  <ul class="navbar-nav d-flex flex-row ms-auto align-items-center">
    <li *ngIf="isLoggedIn()">
      <app-notification-bell></app-notification-bell>
    </li>
    

    
    

      
      

    
    <li class="nav-item dropdown">
      <a class="nav-link d-flex align-items-center text-light" href="#" id="usuarioDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img [src]="imagenUrl" alt="Usuario" class="rounded-circle me-2" width="60" height="60">
      </a>

      <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-2 custom-dropdown"
        aria-labelledby="usuarioDropdown" style="position: absolute; top: 100%; right: 0;">
        <li *ngIf="!isLoggedIn()">
          <button class="dropdown-item custom-item" (click)="irAlLogin()">Iniciar sesión</button>
        </li>
        <li *ngIf="isLoggedIn()">
          <button class="dropdown-item custom-item text-danger" (click)="verPerfil()">Ver perfil</button>
          <button class="dropdown-item custom-item text-danger" (click)="cerrarSesion()">Cerrar sesión</button>
        </li>
      </ul>
    </li>
  </ul>

</nav>
